@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Basic setup --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
body {
  background-color: #04152d;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* --- Reusable class --- */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
